$w-100-color: lightblue;
$w-75-color: lightcoral;
$w-50-color: lightgreen;
$w-25-color: rgb(161, 130, 196);


$light-color: #FFFCF9;
$body-background-color: rgb(38, 84, 124);
$title-color: #242423;
$description-color: #808080;