@import 'colors';

body {
    background-color: $body-background-color;
}

.news-item > img {
    border-radius: 10%;
    max-width: 95%;
}

.news-item {
    background-color: $light-color;
    padding: 5% 10%;
    border-radius: 5px;
}

.news-item-btn {
	box-shadow:inset 0px 1px 0px 0px #54a3f7;
	background:linear-gradient(to bottom, $body-background-color 5%, #0061a7 100%);
	background-color:$body-background-color;
	border-radius:3px;
	border:1px solid #124d77;
	display:inline-block;
	cursor:pointer;
	color:$light-color;
	font-family:Arial;
	font-size:13px;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #154682;
}
.news-item-btn:hover {
	background:linear-gradient(to bottom, #0061a7 5%, #007dc1 100%);
	background-color:#0061a7;
}
.news-item-btn:active {
	position:relative;
	top:1px;
}

.news-item > h2 {
    color: $title-color;
}

.news-item > p {
    color: $description-color;
}

@import 'grid';
@import 'search_bar';